@import '_reset.scss';
@import '_settings.scss';
@import '../font-awesome/css/font-awesome.css';

// structure & main partials ~~~~~~~~~~~~~~
html {
  background-color: $purple;
  @include gradient($orange, $yellow, 80deg);
}
body {
  width: 100%;
  overflow: auto;

  background-image:
    linear-gradient(-160deg, transparent 65%, $turquoise 65.1%, $turquoise 90%, transparent 90.1%),
    linear-gradient(-130deg, transparent 50%, lighten($turquoise, 25%) 50.1%, lighten($turquoise, 25%) 80%, transparent 80.1%),
    linear-gradient(-120deg, transparent 32%, $turquoise 32.1%, $turquoise 60%, transparent 60.1%)
  ;

  font-family: 'Klartext', monospace ;
  font-size: 100%;
  color: $white;
  line-height: 1.2; letter-spacing:0.5px;
}

#grad {
  position: absolute; top:0px; right:0px;
  width:30vw; min-height:2800px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 90% 100%);
  @include gradient($turquoise, $purple, 120deg);

  z-index:1;
}

.container {
}

header {
  padding: $verticalSpace*2 $gutter $verticalSpace*2;
  // @include backPattern($brandOne);
  @include gradient($orange, $purple, 120deg);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  position:relative; z-index:2;

  h1 {@extend .wrapper; text-align:center;}
  p {@extend .wrapper; margin: $verticalSpace auto;}

  .see-next a {
    display: inline-block;
    background-color: $orange;
  }
}

// basic element styling ~~~~~~~~~~~~~~~~~~~~~~
article {
  padding: 0px 1em;
  position:relative; z-index:2;
}


h1, h2 {
  margin: 0.5em 0px;
  text-shadow:
    1px 1px 0px $white,
    1px -1px 0px $white,
    -1px -1px 0px $white,
    -1px 1px 0px $white,
  ;
}
h1 {font-size: 3.6em;}
h2 {font-size: 2.4em;}
p {
  font-size: 1.4em;
  margin-bottom: 0.8em;
}
p.lede {font-size: 1.3em;}
a {color: $white;}
a:hover {text-decoration: none;}

// specifics ~~~~~~~~~~~~~~~~~~~~~~~~~

// members article
.members {
  padding:$verticalSpace*2 0px;

  // @include backPattern(lighten($brandTwo,60%));

  .member-card {
    @extend .wrapper;
    padding: 0px $gutter;
    list-style: none;
    overflow: auto;

    h2 {text-transform: lowercase;}
    .member-header {background-image: none; padding:0px;}
    .member-header, .member-bio {float:right; width: 55%;}

    .member-social {
      padding-bottom: $verticalSpace;
      a {font-size: 200%;}
    }

    .member-pic {
      float: left;
      width:40%; height:auto;
      img {display: block; width: 100%; height: auto;}
    }
    &:nth-of-type(2n) {
      .member-header, .member-bio {float:left;}
      .member-pic {float:right; margin-left:$gutter;}
    }
    &:nth-of-type(2n-1) {
      .member-pic {margin-right:$gutter;}
    }

    a {color:white;}

    @media screen and (max-width: 660px) {

      .member-header, .member-bio {float:none; width:100%;}
      &:nth-of-type(2n) {
        .member-pic {
          float:none; display:block;
          margin:0px auto; width:60%;
        }
      }
      &:nth-of-type(2n-1) {
        .member-pic {
          float:none; display:block;
          margin:0px auto; width:60%;
        }
      }

    }

  }
}

.work {
  padding: $verticalSpace $gutter;

  background-image:
    linear-gradient(185deg, $brandTwo 80%, transparent 80%);
}


// get in touch
.contact {
  padding: $verticalSpace $gutter;
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);

  background-color: $orange;
  @include gradient($orange, $yellow, 80deg);

  h2, h3, p {@extend .wrapper; padding:$verticalSpace 0px;}

}

.fa {
  text-shadow: none
}

a .fa {
  opacity: 0.6
}

a:hover .fa {
  opacity: 1
}


/* screen sizes: > 960, 480 < 960, 0 < 480 */
// @media screen and (min-width: 980px) {
//   body {
//       border-top: 5px solid blue;
//       font-size: 112%;
//   }
// }
// @media screen and (max-width: 980px) {
//   body {
//       border-top: 5px solid purple;
//   }
// }
// @media screen and (max-width: 480px) {
//   body {
//       border-top: 5px solid pink;
//       font-size: 90%;
//   }
// }
