<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{site.title}}</title>
    <meta name="description" content="{{site.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="assets/style.css">
    <script src="http://localhost:35729/livereload.js"></script>
  </head>
  <body>
    <div id="grad"></div>
    <div class="container">
      <!-- PLEASE KEEP THIS HERE IT'S FOR DESIGN
      <div class="temp-colour">
        <table>
          <tr><td colspan="4">&#9; |</td><td colspan="4">&#9; |</td><td colspan="4">&#9; |</td><td colspan="4">&#9; |</td></tr>
          <tr>
            <td>&#9; |</td><td>&#9; |</td><td>&#9; |</td><td>&#9; |</td>
            <td>&#9; |</td><td>&#9; |</td><td>&#9; |</td><td>&#9; |</td>
            <td>&#9; |</td><td>&#9; |</td><td>&#9; |</td><td>&#9; |</td>
            <td>&#9; |</td><td>&#9; |</td><td>&#9; |</td><td>&#9; |</td>
          </tr>
        </table>
      </div>-->


      <header>
        <h1>{{site.title}}</h1>
        <p class="lede">Welcome to { Live : JS } A collective of audio and visual artists who build live experiences, shows and installations. Why JS? Because that's the main technology we use: JavaScript.</p>
        <p class="lede see-next">See us next at <a href="http://2017.jsconf.eu/">JSConfEU</a></p>
      </header>

      <article class="members">
        {{#each collections.biography as |biography-item idx|}}
        {{> biography-item biography-item=biography-item }}
        {{/each}}
      </article>

      {{!-- <article class="work">
        <p>See what we do!</p>
      </article> --}}

      <article class="contact">
        <h2>Get In Touch</h2>

        {{!-- <section>
          <form>

          </form>
        </section> --}}

        <section>
          <p class="lede">You can book us, we build installations, we play gigs, we give talks about what we do and we give workshops</p>

          <p>Get in touch by <a href="mailto:we@livejs.network">emailing us</a> or simply <a href="http://twitter.com/LiveJS_network">tweeting us</a></p>

          <h3>Join us on Slack</h3>

          <p>We have an <a href="https://livejs-slackin.herokuapp.com/">open Slack channel</a> that anyone can join. We talk MIDI, Audio, Visuals and a whole host of other cool things 😎💥🎶✨</p>
          <p>[Please note the Slack channel abides by this <a href="http://berlincodeofconduct.org/">Code of Conduct</a>]</p>
        </section>

      </article>
    </div>
  </body>
</html>