<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{site.title}}</title>
    <meta name="description" content="{{site.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="assets/style.css">
    <script src="http://localhost:35729/livereload.js"></script>
  </head>
  <body>
    <div class="container">
      <!-- <div class="temp-colour">
        <table>
          <tr><td colspan="4">&#9; |</td><td colspan="4">&#9; |</td><td colspan="4">&#9; |</td></tr>
          <tr>
            <td>&#9; |</td><td>&#9; |</td><td>&#9; |</td><td>&#9; |</td>
            <td>&#9; |</td><td>&#9; |</td><td>&#9; |</td><td>&#9; |</td>
            <td>&#9; |</td><td>&#9; |</td><td>&#9; |</td><td>&#9; |</td>
          </tr>
        </table>
      </div> -->


      <header>
        <h1>{{site.title}}</h1>
        <p class="lede">Welcome to { Live : JS } A collective of audio and visual artists who build live experiences, shows and installations. Why JS? Because that's the main technology we use: JavaScript.</p>
      </header>

      <article class="members">
        <ul>
          {{#each collections.biography as |biography-item idx|}}
          {{> biography-item biography-item=biography-item }}
          {{/each}}
        </ul>
      </article>

      <article class="contact">
        <h2>Get In Touch</h2>

        <p class="lede">You can book us, we build installations, we play gigs, we give talks about what we do and we have workshops on the horizon</p>

        <p>Interested? You can find us on <a href="http://twitter.com/LiveJS_network">Twitter</a>.</p>

        <h3>Join us on Slack</h3>

        <p>We have an <a href="https://livejs-slackin.herokuapp.com/">open Slack channel</a> that anyone can join. We talk MIDI, Audio, Visuals and a whole host of other cool things 😎💥🎶✨</p>
        <p>[Please note the Slack channel abides by this <a href="http://berlincodeofconduct.org/">Code of Conduct</a>]</p>
      </article>
    </div>
  </body>
</html>