
// fonts
@font-face {
  font-family: 'Anom Pro';
  font-weight: normal;
  src: url('fonts/AnonymousPro-Regular.ttf');
}

// colours & patterns
$brandOne: hsla(331, 64%, 46%, 1);
$brandTwo: hsla(180, 63%, 33%, 1);
$brandThree: hsla(53, 77%, 55%, 1);
// $brandLight:;
// $brandDark:;

.temp-colour {
  table {width:100%;}
  // main orig brand cols
  tr:nth-of-type(1) {
    td:nth-child(1) {background-color: $brandOne;}
    td:nth-child(2) {background-color: $brandTwo;}
    td:nth-child(3) {background-color: $brandThree;}
  }
  // light & dark variations
  tr:nth-of-type(2) {
    td:nth-child(1) {background-color: darken($brandOne, 30%);}
    td:nth-child(2) {background-color: darken($brandOne, 15%);}
    td:nth-child(3) {background-color: lighten($brandOne, 30%);}
    td:nth-child(4) {background-color: lighten($brandOne, 50%);}

    td:nth-child(5) {background-color: darken($brandTwo, 30%);}
    td:nth-child(6) {background-color: darken($brandTwo, 15%);}
    td:nth-child(7) {background-color: lighten($brandTwo, 30%);}
    td:nth-child(8) {background-color: lighten($brandTwo, 60%);}

    td:nth-child(9) {background-color: darken($brandThree, 30%);}
    td:nth-child(10) {background-color: darken($brandThree, 15%);}
    td:nth-child(11) {background-color: lighten($brandThree, 30%);}
    td:nth-child(12) {background-color: lighten($brandThree, 40%);}
  }
}

@mixin backPattern($colour) {
  background-color: $colour;
  background-image:
    radial-gradient(circle,
      transparentize(darken($colour,15%),0.97),
      transparentize(lighten($colour,85%),0.98)), 
    linear-gradient(135deg,
      darken($colour,3%) 5%,
      $colour 6%,
      $colour 45%,
      lighten($colour,5%) 46%,
      darken($colour,3%) 55%,
      $colour 56%,
      $colour 95%,
      lighten($colour,5%) 96%)
  ;
  background-size:3px 3px, 20px 20px;
}

// LAYOUT ~~~~~~~~~~~~~~~~~
// sizing
$verticalSpace: 1.5em;
$gutter: 1.5em;

.wrapper {
  display: block;
  max-width: 880px;
  margin: 0px auto;
}

// screen sizes
$screenBig: 980px;
$screenSmall: 480px;


