@import '_reset.scss';
@import '_settings.scss';
@import '../font-awesome/css/font-awesome.css';

// structure & main partials ~~~~~~~~~~~~~~
html {
  background-color: $orange;
  @include gradient($orange, $yellow, 80deg);
}
body {
  width: 100%;
  overflow: auto;

  background-image:
    linear-gradient(-160deg, transparent 65%, $turquoise 65.1%, $turquoise 90%, transparent 90.1%),
    linear-gradient(-130deg, transparent 50%, lighten($turquoise, 25%) 50.1%, lighten($turquoise, 25%) 80%, transparent 80.1%),
    linear-gradient(-120deg, transparent 32%, $turquoise 32.1%, $turquoise 60%, transparent 60.1%)
  ;

  font-family: 'Klartext', monospace ;
  font-size: 100%;
  color: $white;
  line-height: 1.2; letter-spacing:0.5px;
}

#grad {
  position: absolute; top:0px; right:0px;
  width:30vw; min-height:2500px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 90% 100%);
  @include gradient($turquoise, $purple, 120deg);

  z-index:1;
}

.container {
}

header {
  padding: $verticalSpace*2 $gutter $verticalSpace*2;
  // @include backPattern($brandOne);
  @include gradient($orange, $purple, 120deg);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  position:relative; z-index:2;

  h1 {@extend .wrapper; text-align:center;}
  p {@extend .wrapper; margin: $verticalSpace auto;}

  .see-next a {
    display: inline-block;
    background-color: $orange;
  }
}

// basic element styling ~~~~~~~~~~~~~~~~~~~~~~
article {
  padding: 0px 1em;
  position:relative; z-index:2;
}


h1, h2 {
  margin: 0.5em 0px;
  text-shadow:
    1px 1px 0px $white,
    1px -1px 0px $white,
    -1px -1px 0px $white,
    -1px 1px 0px $white,
  ;
}
h1 {font-size: 3.6em;}
h2 {font-size: 2.4em;}
p {
  font-size: 1.3em;
  margin-bottom: 0.8em;
}
p.lede {font-size: 1.3em;}
a {color: $white;}
a:hover {text-decoration: none;}

// specifics ~~~~~~~~~~~~~~~~~~~~~~~~~

// members article
.members {
  padding:$verticalSpace*2 0px;

  // @include backPattern(lighten($brandTwo,60%));

  li {
    @extend .wrapper;
    padding: 0px $gutter;
    list-style: none;
    overflow: auto;
    h2 {text-transform: lowercase;}
    h2, p {float:right; width: 60%;}
    img {
      float: left;
      width:36%; height:auto;
    }

    &:nth-of-type(2n) {
      h2, p {float:left;}
      img {float:right; margin-left:$gutter;}
    }
    &:nth-of-type(2n-1) {
      img {margin-right:$gutter;}
    }

    @media screen and (max-width: 660px) {

      h2, p {float:none; width:100%;}
      &:nth-of-type(2n) {
        img {
          float:none; display:block;
          margin:0px auto; width:60%;
        }
      }
      &:nth-of-type(2n-1) {
        img {
          float:none; display:block;
          margin:0px auto; width:60%;
        }
      }

    }

  }
}

.member-card {
  width:400px;
  height:400px;
  position:relative;

  h2 {
    position: relative;
    z-index: 5;
    font-size: 2em;
    transform:rotate(315deg) translate(-30px, 20px);
  }

  &:hover img {
    filter: saturate(0.5);
    opacity:0.5;
  }
    
  .member-bio {
    position: relative;
    z-index: 5;
    top:140px;
    text-align: justify;
    /*padding:40px 20px 20px;*/
    .space-left {
      shape-outside: polygon(10% 0%, 100% 100%, 0% 100%);
      float: left;
      width: 50%;
      height: 180px;
    }
    .space-right {
      shape-outside: polygon(90% 0%, 90% 100%, 0% 100%);
      float: right;
      width: 49%;
      height: 200px;
    }
  }

  .member-pic {
    z-index: 4; height:400px;
    position: absolute; top:0px; left:0px;
    clip-path: polygon(200px 0px, 400px 200px, 200px 400px, 0px 200px);

    background-color: purple;
    background-image: linear-gradient(45deg, hsla(268, 46%, 50%, 1), hsla(173, 62%, 45%, 1));

    img {
      width:auto; height:400px;
      opacity:1;
      mix-blend-mode: overlay;
    }
  }


  .member-social {
    position:absolute; top:0px; right:0px;
    z-index: 5;
    padding:20px;
    transform:rotate(45deg) translate(10px, 80px);
  }

  a {color:white;}

}

.work {
  padding: $verticalSpace $gutter;

  background-image:
    linear-gradient(185deg, $brandTwo 80%, transparent 80%);
}


// get in touch
.contact {
  padding: $verticalSpace $gutter;
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);

  background-color: $orange;
  @include gradient($orange, $yellow, 80deg);

  h2, h3, p {@extend .wrapper; padding:$verticalSpace 0px;}

}

.fa {
  text-shadow: none
}

a .fa {
  opacity: 0.6
}

a:hover .fa {
  opacity: 1
}


/* screen sizes: > 960, 480 < 960, 0 < 480 */
// @media screen and (min-width: 980px) {
//   body {
//       border-top: 5px solid blue;
//       font-size: 112%;
//   }
// }
// @media screen and (max-width: 980px) {
//   body {
//       border-top: 5px solid purple;
//   }
// }
// @media screen and (max-width: 480px) {
//   body {
//       border-top: 5px solid pink;
//       font-size: 90%;
//   }
// }
