@import '_reset.scss';
@import '_settings.scss';

// structure & main partials ~~~~~~~~~~~~~~
html {background-color: $white;}
body {
  width: 100%;
  overflow: auto;
  font-family: 'Anom Pro', monospace ;
  font-size: 100%;
  color: $white;
  line-height: 1.2;
}
.container {
  background-color:$brandOne;
  background-image:
    linear-gradient(-100deg, darken($brandOne, 30%) 30%, transparent 30.1%),
    linear-gradient(-125deg, darken($brandOne, 15%) 40%, transparent 40.1%),
    linear-gradient(-150deg, $brandOne 50%, transparent 50.1%),
    linear-gradient(-175deg, lighten($brandOne, 30%) 60%, transparent 60.1%)
  ;
}
header {
  margin-bottom: $verticalSpace; padding: $verticalSpace $gutter $verticalSpace*6;
  // @include backPattern($brandOne);
  background-image:
    linear-gradient(120deg, darken($brandFour,15%) 18%, transparent 18.1%),
    linear-gradient(178deg, $brandFour 88%, transparent 88.1%);
  text-align: right;
  h1 {@extend .wrapper}
  p {@extend .wrapper}
}

// basic element styling ~~~~~~~~~~~~~~~~~~~~~~
article {
  padding: 0px 1em;
}


h1, h2 {
  font-family: 'Sanotra', sans-serif;
  margin: 0.5em 0px;
}
h1 {font-size: 3.6em;}
h2 {font-size: 2.4em;}
p {
  margin-bottom: 0.8em;
}
p.lede {font-size: 1.3em;}
a {color: #e4439a;}
a:hover {text-decoration: none;}

// specifics ~~~~~~~~~~~~~~~~~~~~~~~~~

// members article
.members {
  padding: $verticalSpace*2 $gutter;

  // @include backPattern(lighten($brandTwo,60%));
  
  li {
    @extend .wrapper;
    list-style: none;
    overflow: hidden;
    h2, p {float:right; width: 60%;}
    img {
      float: left;
      width:36%; height:auto;
    }

    &:nth-of-type(2n) {
      h2, p {float:left;}
      img {float:right; margin-left:$gutter;}
    }
    &:nth-of-type(2n-1) {
      img {margin-right:$gutter;}
    }
  }
}

.work {
  padding: $verticalSpace $gutter;

  background-image:
    linear-gradient(185deg, $brandTwo 80%, transparent 80%);
}


// get in touch
.contact {

  padding: $verticalSpace $gutter;
  background-image:
    linear-gradient(185deg, transparent 10%, $brandThree 10%);
  h2, h3, p {@extend .wrapper; padding:$verticalSpace 0px;}

}




/* screen sizes: > 960, 480 < 960, 0 < 480 */
// @media screen and (min-width: 980px) {
//   body {
//       border-top: 5px solid blue;
//       font-size: 112%;
//   }
// }
// @media screen and (max-width: 980px) {
//   body {
//       border-top: 5px solid purple;
//   }
// }
// @media screen and (max-width: 480px) {
//   body {
//       border-top: 5px solid pink;
//       font-size: 90%;
//   }
// }
